.post-heading > h1 {
    background: rgba(0,0,0,0.60);
    padding: 50px;
    color: white;
  }

  .postsbyyear li {
      font-size: 1.0rem;
  }

  .postsbyyear h3 { 
    padding-top: 2.0rem;
  }

  .post-preview .post-image-small img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0.5em;
  }

.fixed-top {
    position: relative;
}

.intro-header.big-img {
    margin-top: 0rem;
}
