.post-heading > h1 {
    background: rgba(0,0,0,0.60);
    padding: 50px;
    color: white;
}

.page-heading > h1 {
  background: rgba(0,0,0,0.60);
  padding: 50px;
  color: white;
}

.postsbyyear li {
    font-size: 1.0rem;
}

.postsbyyear h3 { 
  padding-top: 2.0rem;
}

.post-preview .post-image-small img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0.5em;
}

.fixed-top {
    position: relative;
}

.intro-header.big-img {
    margin-top: 0rem;
}

.fourohfour {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
}
.fourohfour h1 {
  margin: 30px 0;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -1px;
}

/* Let's make youtube embeds responsive */
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: local(''),
       url('../webfonts/open-sans-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../webfonts/open-sans-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../webfonts/open-sans-v23-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../webfonts/open-sans-v23-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  src: local(''),
       url('../webfonts/lora-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../webfonts/lora-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../webfonts/lora-v17-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../webfonts/lora-v17-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

#productname {
  padding: 50px 0px 50px 0px;
  min-height: 350px;
  width: 100%;
  background: rgb(104,96,255);
  background: linear-gradient(90deg, rgba(104,96,255,1) 0%, rgba(50,214,43,1) 100%);
  text-align: center;
}

#productnametext { 
  max-width: 400px;
  display: inline-block;
  text-align: center; 
  color: white;
  font-size: 44pt;
}

.textcenter { text-align: center; }

#generatename { width: 100% }

#submitform {
  font-family: "Open Sans";
}
.text-input-label { 
  font-weight: bold;
}

#submitform input {
  width: 100%;
  padding: 8px;
  margin-bottom: 1em;
}

#submitbutton { width: 100%; }
#validationBox { margin-bottom: 1em; }
.redborder { border: 3px solid red}

.redtext { color: red; }
.hideit { display: none; }